[Match]
Name = libvirt-br0

[Network]
ConfigureWithoutCarrier = yes
Address = 10.20.30.1/24
Address = fd::1/64
Domains = ~libvirt
# In virtual machine:
# UseDomains = true
