AddressFamily inet
ListenAddress 0.0.0.0:56202

AcceptEnv LANG LC_*
AllowUsers root vehlwn
AuthenticationMethods publickey keyboard-interactive:pam
ChallengeResponseAuthentication yes
KbdInteractiveAuthentication yes
DebianBanner no
HostKey /etc/ssh/ssh_host_rsa_key
LogLevel VERBOSE
LoginGraceTime 1m
PasswordAuthentication no
PermitRootLogin yes
PrintLastLog yes
PrintMotd no
PubkeyAuthentication yes
Subsystem	sftp	/usr/lib/openssh/sftp-server
TCPKeepAlive no
UseDNS no
UsePAM yes
ClientAliveCountMax 0
ClientAliveInterval 3600
